#!/usr/bin/make -f
%:
	dh $@

ifeq (,$(findstring nolauncher,$(DEB_BUILD_OPTIONS)))
    CONFFLAGS += "--enable-maemo-launcher=yes"
    USE_MAEMO_LAUNCHER = true
endif

ifneq (,$(findstring logdebug,$(DEB_BUILD_OPTIONS)))
	DEB_CFLAGS_MAINT_APPEND += -DDEBUG -DOSSOLOG_COMPILE -DOSSOLOG_STDOUT -g
else
	DEB_CFLAGS_MAINT_APPEND += -DG_DEBUG_DISABLE=1
endif

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	DEB_CFLAGS_MAINT_APPEND += -g -O0
else
	DEB_CFLAGS_MAINT_APPEND += -O2
endif

DEB_CPPFLAGS_MAINT_APPEND += -DG_DISABLE_CHECKS
DEB_CFLAGS_MAINT_APPEND   += -Winline

export DEB_CPPFLAGS_MAINT_APPEND DEB_CFLAGS_MAINT_APPEND

#override_dh_autoreconf:
#	dh_autoreconf --as-needed

override_dh_auto_configure:
	dh_auto_configure -- $(CONFFLAGS)

override_dh_install:
	dh_install
	if test "x$(USE_MAEMO_LAUNCHER)" = "xtrue"; then \
		dh_maemolauncher /usr/bin/osso_pdfviewer; \
	fi
